@model Employee


<tbody>
    <tr>
        <th scope="row">@Model.Id</th>
        <td>@Model.Position</td>
        <td>@Model.LastName @Model.FirstName</td>
        <td>@Model.AccountNumber</td>
    </tr>
</tbody>
